# dependencies
/node_modules

# yarn lock and package lock
yarn.lock
package-lock.json

# IDEs and editors
/.idea
/.awcache
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# bundle
packages/**/*.d.ts
packages/**/*.js

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
testem.log
/out-tsc
/typings
/packages/**/.npmignore
/packages/**/LICENSE

# System Files
.DS_Store
Thumbs.db
/tmp
/dst

# Angular
.angular

# NPM
/package-lock.json
master/package-lock.json
master/yarn.lock

.env
